services:
  web:
    build:
      context: ./web
    ports:
      - 3000:3000
    volumes:
      - ./web:/app
    environment:
      - REACT_APP_API_HOST=http://localhost:8888
  api:
    build:
      context: ./api
    ports:
      - 8888:8888
    volumes:
      - ./api:/app
