services:
  web:
    build:
      context: ./web
    ports:
      - 3000:3000
    volumes:
      - ./web:/app
  api:
    build:
      context: ./api
    ports:
      - 8888:8888
    volumes:
      - ./api:/app
